<div class="index-container">
  <div class="row">
    <!-- select -->
    <form action="/">
      <select class="form-select form-select-lg d-flex " aria-label=".form-select-lg example" id="categorySort"
        name="categorySort" onchange="this.form.submit()">
        <option value="" selected disabled hidden>類別</option>
        {{#each categories}}
        <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
      <select class="form-select form-select-lg d-flex mt-2" aria-label=".form-select-lg example" id="yearSort"
        name="yearSort" onchange="this.form.submit()">
        <option value="" selected disabled hidden>年份</option>
        {{#each yearList}}
        <option value="{{this}}" {{#if yearOption}}selected{{/if}}>{{this}}</option>
        {{/each}}
      </select>
      <select class="form-select form-select-lg d-flex mt-2" aria-label=".form-select-lg example" id="monthSort"
        name="monthSort" onchange="this.form.submit()">
        <option value="" selected disabled hidden>月份</option>
        {{#each monthList}}
        <option value="{{this.value}}" {{#if monthOption}}selected{{/if}}>{{this.name}}</option>
        {{/each}}
      </select>
      <a href="/" class="btn btn-outline-secondary mt-2"><i class="fas fa-eraser" title="清除篩選"> 清除篩選</i></a>
    </form>
    <div class="d-flex justify-content-between mt-5">
      <div class="" style="font-size: 25px;">
        總金額：
      </div>
      <div class="" style="font-size: 90px; font-weight:bold; color:#EC673E">
        {{totalAmount}}
      </div>
    </div>
    <!-- list -->
    <ul>
      {{#each records}}
      <li class="me-0 d-flex">
        <div class="col-12 text-decoration-none">
          <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="{{this.category.[0].icon}} fa-xl index-icon m-2"></i>
              <div class="mx-2 align-self-center" style="font-size: 20px; color:#000">
                <span class="index-info-block">
                  {{this.name}}
                </span>
                <span class="index-info-block">
                  {{this.date}}
                </span>
              </div>
            </div>
            <div class="m-2 p-2 text-dark">{{this.amount}}</div>
          </div>
        </div>
        <div class="col-4 text-center d-flex align-items-center">
          <a href="./record/{{this._id}}/edit" class="btn btn-link p-2 text-dark text-decoration-none">修改</a>
          <form action="./record/{{this._id}}?_method=DELETE" method="POST" onsubmit="return ConfirmDelete()">
            <button type="submit" class="btn btn-link p-2 text-dark text-decoration-none">刪除</button>
          </form>
        </div>
      </li>
      {{/each}}
    </ul>
    <!-- create button -->
    <a href="/record/new" class="col-4 create-button">
      新增支出
    </a>
  </div>

</div>